

.form-group {
    margin-bottom: 20px;
}

.form-label {
    font-weight: bold;
}

.hidden {
    display: none;
}
  .form-group {
    margin-bottom: 20px;
}

.form-label {
    font-weight: bold;
}

.hidden {
    display: none;
}

/* Additional styling for the header */
header,footer {
    background-color: rgb(195, 163, 0);
    padding: 1rem; /* Adjust padding as needed */
}

header h1,h3 {
    color: white;
}
.subheading h2 {
    background-color: rgb(179, 130, 8);
    padding: auto;
}


@media print {
    @page {
        margin: 1cm;
        size: A4;
    }

    /* Existing styles... */

body {
    counter-reset: page; /* Reset the page counter for each printed page */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/* print-styles.css */

header, footer {
    background-color: rgb(195, 163, 0) !important;
    color: white;
}

.subheading h2 {
    background-color: rgb(179, 130, 8) !important;
    color: white;
}


@media print {
    header, footer, .subheading h2 {
        -webkit-print-color-adjust: exact;
    }
}

#data-display {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5cm; /* Add spacing between rows and columns */
}

/* Optional: You can adjust the styling for individual items if needed */
#data-display p {
    margin: 0.2cm 0;
}

/* Adjust the width of each column for the 3x2 grid */


footer {
    margin-top: auto;
}

/* Additional styles for the footer */
footer {
    padding: 10px;
    text-align: center;
    font-size: 12pt;
    color: white;
}

/* Additional styles for the data display */
#data-display p {
    margin: 0.2cm 0;
}

/* Ensure that the last h2 element does not introduce an unnecessary page break */
h2:last-of-type {
    page-break-before: auto;
}

/* Additional styling for form elements */
form {
    margin-bottom: 1cm;
}

button#print-button {
    display: none; /* Hide the print button when printing */
}

/* Additional styling for data display */
#data-display {
    margin-top: 2cm; /* Adjust the top margin for the data display section */
    margin-bottom: 2cm;
}
}

.container {
    width: 100%; 
    margin: 0 auto;
    padding: 20px; 
    border: 1px transparent #ccc; 
    /* background-image: url(BackImage.png);
    background-position: center;
    background-size: cover; */
    z-index: 6;
}
@media print {
    body {-webkit-print-color-adjust: exact;
    }
  }
  @page {
      size:A4;
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 0px;
      margin-bottom: 0px;
      margin: 0;
      -webkit-print-color-adjust: exact;
  }


